body{
    background: #2c2c2c;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100%;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 50px;
    float: left;
}

aside .logo{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 2px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none;}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: blueviolet;
    transform: scale(1.05);
}

main .features{
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 80%;
}

.content{
    position: relative;
    top: -70px;
}
main .features h1 {
    font-size: 50px;
}
main .features p {
    max-width: 400px; 
    margin: 20px auto;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
    position: relative;
    top: -100px;
}

form{
    margin-left: 32%;
    width: 500px;
    
}

.content_view{
    position: relative;
    top: 0;
}

input{
    width: 500px;
}
.test{
    white-space: pre;
}